﻿@Styles.Render("~/cssing/css")
@Html.Partial("NavigationAdmin")
@using ReportViewerForMvc;
@{
    ViewBag.Title = "Clinic List";
}
<style>
    .center {
        margin: auto;
        position: absolute;
        top: 400px;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="100">

    <div style="text-align:center" class="center">
        <h2>
            Clinic Report
        </h2>
        <div>
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
        </div>
        
        <div>
            <input type="button" value="Back " class="btn btn-success" onclick="location.href = '@Url.Action("UserList","UserAdmin")'" />
        </div>

    </div>
</body>


<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")
<div>

</div>
