﻿
@Styles.Render("~/cssing/css")
@Html.Partial("NavigationAdmin")
@using ReportViewerForMvc;
@{
    ViewBag.Title = "Clinic List";
}


<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <div class=" text-align-center">
        <h2>
            Error Report
        </h2>
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
        <div>
            <input type="button" value="Back " class="btn btn-success" onclick="location.href = '@Url.Action("UserList","UserAdmin")'" />
        </div>

    </div>
</body>


<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")
<div>

</div>
