﻿
@{
    Layout = null;
}
@Styles.Render("~/cssing/css")
@using ReportViewerForMvc;

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @Html.Partial("NavigationAdmin")

    @{
        ViewBag.Title = "MyClinic";
    }


    <div class="container">
        <div class="row">
            <div class="text-align-center">
                <h2>User List</h2>
                <input type="button" value="Patient User List " class="btn btn-success" onclick="location.href = '@Url.Action("PatientList","UserAdmin")'" />
                <input type="button" value="Dentist User List" class="btn btn-success" onclick="location.href = '@Url.Action("DentistList","UserAdmin")'" />
            </div>

        </div>
    </div>

</body>

@Html.Partial("Footer")

<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")
<div>

</div>

