﻿@{
    Layout = null;
}
@model MyDentist.Models.tbl_Article

<!DOCTYPE html>
<html lang="en">
<head>

    <title>MyDentist - Article Page</title>
    @Styles.Render("~/cssing/css")

    <style>
        .pic {
            max-width: 80%;
            height: auto;
        }
    </style>
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @Html.Partial("Navigation")
    <!-- NEWS DETAIL -->
    <section id="news-detail" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-7">
                    <!-- NEWS THUMB -->
                    <div class="news-detail-thumb">
                        <div class="news-image">
                            <div class="center-block">
                                <img src="@Url.Action("RetrieveImage", new { id = Model.ID_Article})" class="pic" alt="" />
                            </div>
                        </div>
                        <h3>@Html.DisplayFor(model => model.Tittle)</h3>
                        <p>@Html.Raw(Model.Content)</p>


                        <p>Nunc eget ex sed nisl rhoncus lacinia. Vestibulum porta lectus at est placerat, nec commodo purus dignissim. Suspendisse ac quam in metus laoreet auctor ac quis enim.</p>
                        <div class="news-social-share">
                            <h4>Share this article</h4>
                            <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>Facebook</a>
                            <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>Twitter</a>
                            <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>Google+</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-5">
                    <div class="news-sidebar">
                        <div class="news-author">
                            <h4>About the Article</h4>
                            <p>@Html.DisplayFor(model => model.Writer_name)</p>
                            <p>@Html.DisplayFor(model => model.Release_date)</p>
                        </div>

                        <div class="news-categories">
                            <h4>Categories</h4>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Dental</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Cardiology</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Health</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Consultant</a></li>
                        </div>

                        <div class="news-ads sidebar-ads">
                            <h4>Sidebar Banner Ad</h4>
                        </div>

                        <div class="news-tags">
                            <h4>Tags</h4>
                            <li><a href="#">Pregnancy</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Consultant</a></li>
                            <li><a href="#">Medical</a></li>
                            <li><a href="#">Doctors</a></li>
                            <li><a href="#">Social</a></li>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>
@Html.Partial("Footer")

<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")
