﻿@{
    Layout = null;
}
@using PagedList.Mvc
@model PagedList.IPagedList<MyDentist.Models.tbl_Article>
@Styles.Render("~/cssing/css")

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    @Html.Partial("NavigationDentist")
    @{
        ViewBag.Title = "Article";
    }
    <style>

        table {
            width: 60%;
            border-collapse: collapse;
        }

            table tr {
                border: solid thin;
            }

                table tr td {
                    width: 20%;
                }

        #pager {
            padding-left: 5%
        }

            #pager p {
                margin-left: 5%;
            }

        input::-webkit-input-placeholder {
            opacity: 0.5;
        }

        input:-moz-placeholder {
            opacity: 0.5;
        }

        input:-ms-input-placeholder {
            opacity: 0.5;
        }

        .input100 {
            font-family: Ubuntu-Bold;
            font-size: 15px;
            color: #1b3815;
            /* line-height: 1.2; */
            position: relative;
            display: block;
            width: 200px;
            height: 30px;
            background: #ebebeb;
            border-radius: 27px;
            padding: 0 35px 0 35px;
        }

        .btn-info {
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
            width: 80px;
            height: 30px;
            border-radius: 99px;
        }
    </style>

    <div class="container">
        <div class="row">

            <div class="text-align-center">
                <h2>@ViewBag.Title</h2>
            </div>

            <p>
                @Html.ActionLink("Create New Page Content", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <br />
            @using (Html.BeginForm("IndexDentist", "Article", FormMethod.Get))
            {
                @Html.TextBox("searching", null, new { @class = "input100", placeholder = "Article Title" })<input class="btn-info m-t-10" type="submit" value="Search" />
            }
            <br /><br />
            <table class="table table-borderless">
                @if (Model.Count() == 0)
    {
        <div style="color:red">
            No Match Any Article
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                    <a href="news-detail.html">
                        <!--<img src="@Url.Content("~/images/news-image1.jpg")" class="img-responsive" alt="">-->
                        <img src="@Url.Action("RetrieveImage", new { id = item.ID_Article })" alt="" class="img-responsive" />
                    </a>
                    <div class="news-info">
                        <h5>By : @Html.DisplayFor(modelItem => item.Writer_name)</h5>
                        <span>@Html.DisplayFor(modelItem => item.Release_date)</span>
                        <h3><a href="news-detail.html">@Html.ActionLink(item.Tittle, "Details", "Article", new { id = item.ID_Article }, null)</a></h3>
                    </div>
                </div>
            </div>
        }
    }
            </table>
            <div id="pager">
                <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</body>
@Html.Partial("Footer")

<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")
