﻿<!-- PRE LOADER -->

<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>

<style>
    .responsive {
        width: 20%;
        height: auto;
        margin-bottom: 15px;
    }

    .navbar-brands {
        float: left;
        height: 50px;
        font-size: 18px;
        line-height: 20px;
    }

    .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-5">
                <p>Welcome to a Professional Health Care</p>
            </div>

            <div class="col-md-8 col-sm-7 text-align-right">
                <span class="phone-icon"><i class="fa fa-phone"></i> 087-777-777</span>
                <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 6:00 AM - 10:00 PM (Mon-Fri)</span>
                <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#">MyDentist@company.com</a></span>
            </div>

        </div>
    </div>
</header>

<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="~/Home/Index" class="responsive">
                <img src="@Url.Content("~/images/MyDentistLogo.png")" class="navbar-brands">
            </a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <!--
            <a href="~/Home/Index">
                <img src="@Url.Content("~/images/MyDentistLogo.png")" class="responsive">
            </a>-->
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
                </ul>

                <!--
                <li><a href="#top" class="smoothScroll">Home</a></li>
                <li><a href="#about" class="smoothScroll">About Us</a></li>
                <li><a href="#team" class="smoothScroll">Doctors</a></li>
                <li><a href="#news" class="smoothScroll">News</a></li>
                -->


                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Dashboard", "LoggedIndex", "Home")</li>
                <li>@Html.ActionLink("Article", "Index", "Article")</li>
                <li>@Html.ActionLink("Nearby Clinics", "NearbyClinics", "UserPatient")</li>
                <li>@Html.ActionLink("My Reservations", "MyReservations", "UserPatient")</li>
                <li>@Html.ActionLink("How To", "About", "Home")</li>
                <li>@Html.ActionLink("FAQ", "PatientFAQ", "UserPatient")</li>

                <div class="dropdown">
                    <button class="dropbtn">
                        Profile
                        <i class="fa fa-user-circle-o"></i>
                    </button>
                    <div class="dropdown-content">
                        <li class="btn">@Html.ActionLink("Profil", "ProfilePatient", "UserPatient")</li>
                        <li class="btn">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("Logout", "UserPatient", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <a onclick="javascript:document.getElementById('logoutForm').submit()">Logout</a>

                                }
                            }
                        </li>
                    </div>
                </div>

                <!--Seharusnya di pasien-->
                <!--<li><a href="#google-map" class="smoothScroll">About Us</a></li>
                <li class="btn appointment-btn btn-xs"> <a onclick="location.href = '@Url.Action("Log Out", "UserPatient", "Login")'">Account</a></li>
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("Logout", "UserPatient", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <li style="text-align: left" class="btn appointment-btn btn-xs"> <a onclick="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                                }
                            }-->

            </ul>
        </div>
    </div>
</section>


