﻿@{
    ViewBag.Title = "How To MyDentist";
}
<h2>@ViewBag.Title</h2>
<style>
    .pic {
        box-shadow: 2px 2px 4px #000000;
    }
</style>


<figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px; margin-top:100px;">
    <figcaption>
        <h3>1. Click "Nearby Clinic" to find clinic</h3>
    </figcaption>
    <img src="@Url.Content("~/images/1.png")" class="img-responsive pic" alt="">
</figure>
<figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
    <figcaption>
        <h3>2. Click "Set Your Location" to find clinic use your GPS</h3>
    </figcaption>
    <img src="@Url.Content("~/images/2.png")" class="img-responsive pic" alt="">
</figure>
<figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
    <figcaption>
        <h3>3. Click "Pan to Current Location" to find Automatic by GPS</h3>
    </figcaption>
    <img src="@Url.Content("~/images/3.png")" class="img-responsive pic" alt="">
</figure>
<figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
    <figcaption>
        <h3>4. After "Location Found" you can click "Show Clinics" to display nearst clinic to you</h3>
    </figcaption>
    <img src="@Url.Content("~/images/4.png")" class="img-responsive pic" alt="">
</figure>
<figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
    <figcaption>
        <h3>5. Display list clinic nearby and click "Detail" to reservation</h3>
    </figcaption>
    <img src="@Url.Content("~/images/5.png")" class="img-responsive pic" alt="">
</figure>
<figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
    <figcaption>
        <h3>6. Display detal clinic and click "Book now"</h3>
    </figcaption>
    <img src="@Url.Content("~/images/6.png")" class="img-responsive pic" alt="">
</figure>
<figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
    <figcaption>
        <h3>7. Display about Reservation Success</h3>
    </figcaption>
    <img src="@Url.Content("~/images/7.png")" class="img-responsive pic" alt="">
</figure>

<!-- GOOGLE MAP -->
<section id="google-map" style="border-style:solid">
    <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.297816984684!2d106.65095231545635!3d-6.224406662695259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fbdfdfc3e639%3A0x81ae27492fd7ea7d!2sPT%20Nawa%20Data%20Solutions!5e0!3m2!1sen!2sid!4v1609733996445!5m2!1sen!2sid" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>