﻿<!DOCTYPE html>
<html lang="en">
<head>

    <title>Health Template - News Page</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/cssing/css")

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- NEWS DETAIL -->
    <section id="news-detail" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-7">
                    <!-- NEWS THUMB -->
                    <div class="news-detail-thumb">
                        <div class="news-image">
                            <img src="@Url.Content("~/images/news-image3.jpg")" class="img-responsive" alt="">
                        </div>
                        <h3>Review Annual Medical Research</h3>
                        <p>Aenean molestie porttitor lorem sed semper. Aliquam semper iaculis libero, eu finibus ex euismod at. In molestie justo ut egestas porttitor. Phasellus interdum erat eu lectus condimentum euismod. Sed pellentesque fringilla diam vitae congue. Ut rutrum diam nisi, in maximus felis vulputate vitae.</p>
                        <blockquote>Vestibulum gravida rutrum est non volutpat. Morbi imperdiet odio ut tempor vestibulum. Mauris tincidunt vehicula nibh, sodales vehicula erat imperdiet ut.</blockquote>
                        <p>Maecenas eu lorem gravida nisi aliquam porta. Etiam eu tellus enim. Vivamus ligula ex, iaculis a sodales et, placerat eget neque. In porttitor tortor in purus commodo lobortis. Nullam ornare quam ac turpis luctus, commodo facilisis nisi venenatis. Cras a posuere risus.</p>

                        <ul>
                            <li>Phasellus posuere nisi eleifend, vestibulum ipsum eleifend</li>
                            <li>Nulla sapien neque, posuere vitae porta eu</li>
                            <li>Fusce quis enim vel libero pulvinar gravida sed eu justo</li>
                        </ul>

                        <p>Nunc eget ex sed nisl rhoncus lacinia. Vestibulum porta lectus at est placerat, nec commodo purus dignissim. Suspendisse ac quam in metus laoreet auctor ac quis enim.</p>
                        <div class="news-social-share">
                            <h4>Share this article</h4>
                            <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>Facebook</a>
                            <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>Twitter</a>
                            <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>Google+</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-5">
                    <div class="news-sidebar">
                        <div class="news-author">
                            <h4>About the author</h4>
                            <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque.</p>
                        </div>

                        <div class="recent-post">
                            <h4>Recent Posts</h4>

                            <div class="media">
                                <div class="media-object pull-left">
                                    <a href="#"><img src="@Url.Content("~/images/news-image.jpg")" class="img-responsive" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Introducing a new healing process</a></h4>
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-object pull-left">
                                    <a href="#"><img src="@Url.Content("~/images/news-image.jpg")" class="img-responsive" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">About Amazing Technology</a></h4>
                                </div>
                            </div>
                        </div>

                        <div class="news-categories">
                            <h4>Categories</h4>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Dental</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Cardiology</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Health</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Consultant</a></li>
                        </div>

                        <div class="news-ads sidebar-ads">
                            <h4>Sidebar Banner Ad</h4>
                        </div>

                        <div class="news-tags">
                            <h4>Tags</h4>
                            <li><a href="#">Pregnancy</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Consultant</a></li>
                            <li><a href="#">Medical</a></li>
                            <li><a href="#">Doctors</a></li>
                            <li><a href="#">Social</a></li>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <!-- FOOTER -->
    <footer data-stellar-background-ratio="5">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>
                        <p>Fusce at libero iaculis, venenatis augue quis, pharetra lorem. Curabitur ut dolor eu elit consequat ultricies.</p>

                        <div class="contact-info">
                            <p><i class="fa fa-phone"></i> 010-070-0170</p>
                            <p><i class="fa fa-envelope-o"></i> <a href="#">MyDentist@company.com</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Latest News</h4>
                        <div class="latest-stories">
                            <div class="stories-image">
                                <a href="#"><img src="@Url.Content("~/images/news-image.jpg")" class="img-responsive" alt=""></a>
                            </div>
                            <div class="stories-info">
                                <a href="#"><h5>Amazing Technology</h5></a>
                                <span>March 08, 2018</span>
                            </div>
                        </div>

                        <div class="latest-stories">
                            <div class="stories-image">
                                <a href="#"><img src="@Url.Content("~/images/news-image.jpg")" class="img-responsive" alt=""></a>
                            </div>
                            <div class="stories-info">
                                <a href="#"><h5>New Healing Process</h5></a>
                                <span>February 20, 2018</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <div class="opening-hours">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s">Opening Hours</h4>
                            <p>Monday - Friday <span>06:00 AM - 10:00 PM</span></p>
                            <p>Saturday <span>09:00 AM - 08:00 PM</span></p>
                            <p>Sunday <span>Closed</span></p>
                        </div>

                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 border-top">
                    <div class="col-md-4 col-sm-6">
                        <div class="copyright-text">
                            <p>
                                Copyright &copy; 2021 Kelompok 4
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="footer-link">
                            <a href="#">Laboratory Tests</a>
                            <a href="#">Departments</a>
                            <a href="#">Insurance Policy</a>
                            <a href="#">Careers</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-align-center">
                        <div class="angle-up-btn">
                            <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    @Scripts.Render("~/bundles/Content")

</body>
</html>