﻿@{
    Layout = null;
}
@{
    ViewBag.Title = "How To MyDentist";
}

<style>
    .pic {
        box-shadow: 2px 2px 4px #000000;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/cssing/css")
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    @Html.Partial("NavigationDentist")
    <h2 class="text-align-center">@ViewBag.Title</h2>
    <div class="container">
        <div class="row">
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px; margin-top:100px;">
                <figcaption>
                    <h3>1. Click "My Clinic" to add your clinic</h3>
                </figcaption>
                <img src="@Url.Content("~/images/1a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>2. Click "Add Clinic" to start add your clinic</h3>
                </figcaption>
                <img src="@Url.Content("~/images/2a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>3.Fill form abount your clinic then click "Create"</h3>
                </figcaption>
                <img src="@Url.Content("~/images/3a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>4. You can update your clinic's location by click "Set Clinic Location" and you can aadd service by click "Add Clinic Services"</h3>
                </figcaption>
                <img src="@Url.Content("~/images/4a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>5. Click "Pan to Current Location" to find Automatic by GPS </h3>
                </figcaption>
                <img src="@Url.Content("~/images/5a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>6. In Menu My Reservation you can click "Detail" to view information about reservation</h3>
                </figcaption>
                <img src="@Url.Content("~/images/6a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>7. Click "Start Examination" to change status to "On Going"</h3>
                </figcaption>
                <img src="@Url.Content("~/images/7a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>8. Click "Add Serivce" to add price by service</h3>
                </figcaption>
                <img src="@Url.Content("~/images/8a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>9. Click "Add" to add service</h3>
                </figcaption>
                <img src="@Url.Content("~/images/9a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>10. You can "Checkout" to finish or "Back" to add more price services</h3>
                </figcaption>
                <img src="@Url.Content("~/images/10a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>11. "Sumbit" to finish and inform patient</h3>
                </figcaption>
                <img src="@Url.Content("~/images/11a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>12. You can click "Next Patient" to Examination new patient</h3>
                </figcaption>
                <img src="@Url.Content("~/images/12a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>13. You can click "Approve" to check transfer recipt</h3>
                </figcaption>
                <img src="@Url.Content("~/images/13a.png")" class="img-responsive pic" alt="">
            </figure>
            <figure class=" wow fadeInUp" data-wow-delay="1s" style="margin-bottom:100px">
                <figcaption>
                    <h3>14. You can click "Approve" to final decission</h3>
                </figcaption>
                <img src="@Url.Content("~/images/14a.png")" class="img-responsive pic" alt="">
            </figure>

            <!-- GOOGLE MAP -->
            <section id="google-map" style="border-style:solid">
                <!-- How to change your own map point
                        1. Go to Google Maps
                        2. Click on your location point
                        3. Click "Share" and choose "Embed map" tab
                        4. Copy only URL and paste it within the src="" field below
                -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.297816984684!2d106.65095231545635!3d-6.224406662695259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fbdfdfc3e639%3A0x81ae27492fd7ea7d!2sPT%20Nawa%20Data%20Solutions!5e0!3m2!1sen!2sid!4v1609733996445!5m2!1sen!2sid" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </section>

        </div>
    </div>
    @Html.Partial("Footer")

    <!-- SCRIPTS -->
    @Scripts.Render("~/bundles/Content")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")


</body>
</html>