﻿@model IEnumerable<MyDentist.Models.ArticleViewModel>


<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item item-first">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>Let's make your life happier</h3>
                            <h1>Healthy Living</h1>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3></h3>
                            <h1>New Lifestyle</h1>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3></h3>
                            <h1>Your Health Benefits</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT -->
<!-- TEAM -->
<!-- Article -->
<section id="news" data-stellar-background-ratio="2.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <!-- SECTION TITLE -->
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2>Latest Article</h2>
                </div>
            </div>
           @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                    <a href="news-detail.html">
                        <!--<img src="@Url.Content("~/images/news-image1.jpg")" class="img-responsive" alt="">-->
                        <img src="@Url.Action("RetrieveImage", new { id = item.ID_Article })" alt="" class="img-responsive" />
                    </a>
                    <div class="news-info">
                        <h5>By : @Html.DisplayFor(modelItem => item.Writer_name)</h5>
                        <span>@Html.DisplayFor(modelItem => item.Release_date)</span>
                        <h3><a href="news-detail.html">@Html.ActionLink(item.Tittle, "Details", "Article", new { id = item.ID_Article }, null)</a></h3>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</section>

<!-- MAKE AN APPOINTMENT -->
<!-- GOOGLE MAP -->
<section id="google-map">
    <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.297816984684!2d106.65095231545635!3d-6.224406662695259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fbdfdfc3e639%3A0x81ae27492fd7ea7d!2sPT%20Nawa%20Data%20Solutions!5e0!3m2!1sen!2sid!4v1609733996445!5m2!1sen!2sid" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

<!-- FOOTER -->