﻿@{
    Layout = null;
}
@model IEnumerable<MyDentist.Models.ArticleViewModel>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/cssing/css")
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    @Html.Partial("NavigationAdmin")
    <div class="container">
        <div class="row">



            <!-- HOME -->
            <section id="home" class="slider" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row">

                        <div class="owl-carousel owl-theme">
                            <div class="item item-first">
                                <div class="caption">
                                    <div class="col-md-offset-1 col-md-10">
                                        <h3>Let's make your life happier</h3>
                                        <h1>Healthy Living</h1>
                                        <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>
                                    </div>
                                </div>
                            </div>

                            <div class="item item-second">
                                <div class="caption">
                                    <div class="col-md-offset-1 col-md-10">
                                        <h3>Aenean luctus lobortis tellus</h3>
                                        <h1>New Lifestyle</h1>
                                        <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                                    </div>
                                </div>
                            </div>

                            <div class="item item-third">
                                <div class="caption">
                                    <div class="col-md-offset-1 col-md-10">
                                        <h3>Pellentesque nec libero nisi</h3>
                                        <h1>Your Health Benefits</h1>
                                        <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <!-- ABOUT -->
            <section id="about">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">
                            <div class="about-info">
                                <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to MyDentist</h2>
                                <div class="wow fadeInUp" data-wow-delay="0.8s">
                                    <p>Aenean luctus lobortis tellus, vel ornare enim molestie condimentum. Curabitur lacinia nisi vitae velit volutpat venenatis.</p>
                                    <p>Sed a dignissim lacus. Quisque fermentum est non orci commodo, a luctus urna mattis. Ut placerat, diam a tempus vehicula.</p>
                                </div>
                                <figure class="profile wow fadeInUp" data-wow-delay="1s">
                                    <img src="@Url.Content("~/images/author-image.jpg")" class="img-responsive" alt="">
                                    <figcaption>
                                        <h3>Dr. Neil Jackson</h3>
                                        <p>General Principal</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <!-- TEAM -->
            <section id="team" data-stellar-background-ratio="1">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">
                            <div class="about-info">
                                <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our Doctors</h2>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                                <img src="@Url.Content("~/images/team-image1.jpg")" class="img-responsive" alt="">

                                <div class="team-info">
                                    <h3>Nate Baston</h3>
                                    <p>General Principal</p>
                                    <div class="team-contact-info">
                                        <p><i class="fa fa-phone"></i> 010-020-0120</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="#">general@company.com</a></p>
                                    </div>
                                    <ul class="social-icon">
                                        <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                        <li><a href="#" class="fa fa-envelope-o"></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                                <img src="@Url.Content("~/images/team-image2.jpg")" class="img-responsive" alt="">

                                <div class="team-info">
                                    <h3>Jason Stewart</h3>
                                    <p>Pregnancy</p>
                                    <div class="team-contact-info">
                                        <p><i class="fa fa-phone"></i> 010-070-0170</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="#">pregnancy@company.com</a></p>
                                    </div>
                                    <ul class="social-icon">
                                        <li><a href="#" class="fa fa-facebook-square"></a></li>
                                        <li><a href="#" class="fa fa-envelope-o"></a></li>
                                        <li><a href="#" class="fa fa-flickr"></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                                <img src="@Url.Content("~/images/team-image3.jpg")" class="img-responsive" alt="">

                                <div class="team-info">
                                    <h3>Miasha Nakahara</h3>
                                    <p>Cardiology</p>
                                    <div class="team-contact-info">
                                        <p><i class="fa fa-phone"></i> 010-040-0140</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="#">cardio@company.com</a></p>
                                    </div>
                                    <ul class="social-icon">
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                        <li><a href="#" class="fa fa-envelope-o"></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <!-- Article -->
            <section id="news" data-stellar-background-ratio="2.5">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <!-- SECTION TITLE -->
                            <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                                <h2>Latest Article</h2>
                            </div>
                        </div>

                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-6">
                                <!-- NEWS THUMB -->
                                <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                                    <a href="news-detail.html">
                                        <!--<img src="@Url.Content("~/images/news-image1.jpg")" class="img-responsive" alt="">-->
                                        <img src="@Url.Action("RetrieveImage", new { id = item.ID_Article })" alt="" class="img-responsive" />
                                    </a>
                                    <div class="news-info">
                                        <span>@Html.DisplayFor(modelItem => item.Release_date)</span>
                                        <h3><a href="news-detail.html">@Html.ActionLink(item.Tittle, "Details", "Article", new { id = item.ID_Article }, null)</a></h3>

                                        <div class="author">
                                            <img src="@Url.Content("~/images/author-image.jpg")" class="img-responsive" alt="">
                                            <div class="author-info">
                                                <h5>@Html.DisplayFor(modelItem => item.Writer_name)</h5>
                                                <p>CEO / Founder</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </section>


            <!-- MAKE AN APPOINTMENT -->
            <section id="appointment" data-stellar-background-ratio="3">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">
                            <img src="@Url.Content("~/images/appointment-image.jpg")" class="img-responsive" alt="">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <!-- CONTACT FORM HERE -->
                            <form id="appointment-form" role="form" method="post" action="#">

                                <!-- SECTION TITLE -->
                                <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                    <h2>Make an appointment</h2>
                                </div>

                                <div class="wow fadeInUp" data-wow-delay="0.8s">
                                    <div class="col-md-6 col-sm-6">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <label for="date">Select Date</label>
                                        <input type="date" name="date" value="" class="form-control">
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Department</label>
                                        <select class="form-control">
                                            <option>General Health</option>
                                            <option>Cardiology</option>
                                            <option>Dental</option>
                                            <option>Medical Research</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <label for="telephone">Phone Number</label>
                                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                                        <label for="Message">Additional Message</label>
                                        <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>
                                        <button type="submit" class="form-control" id="cf-submit" name="submit">Submit Button</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>


            <!-- GOOGLE MAP -->
            <section id="google-map">
                <!-- How to change your own map point
                        1. Go to Google Maps
                        2. Click on your location point
                        3. Click "Share" and choose "Embed map" tab
                        4. Copy only URL and paste it within the src="" field below
                -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.297816984684!2d106.65095231545635!3d-6.224406662695259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fbdfdfc3e639%3A0x81ae27492fd7ea7d!2sPT%20Nawa%20Data%20Solutions!5e0!3m2!1sen!2sid!4v1609733996445!5m2!1sen!2sid" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </section>


            <!-- FOOTER -->
            @Html.Partial("Footer")

            <!-- SCRIPTS -->
            @Scripts.Render("~/bundles/Content")
            @Scripts.Render("~/bundles/bootstrap")


</body>
</html>
