﻿@model MyDentist.Models.DashboardPatient
@{
    ViewBag.Title = "Welcome to My Dentist";
}

<h3>Welcome @ViewBag.Message</h3>
<style>
    .my-card {
        position: absolute;
        left: 45%;
        top: -20px;
        border-radius: 50%;
    }
</style>
<head>
    
</head>
<body>
    
    

    <div class="jumbotron" style="background-color:white">
        <div class="row vw-100">
            @if (ViewBag.activate==false)
            {
                <div class="col-md-12">
                    <div class="card border-danger mx-sm-1 p-3">


                        <div class="text-danger text-center mt-2">
                            <h2>@ViewBag.Message</h2>
                            <span class="fa fa-warning fa-5x" aria-hidden="true"></span>
                        </div>



                    </div>

                </div>
            }
            else
            {
                <div class="col-md-4">
                    <div class="card border-info mx-sm-1 p-3">
                        <div class="card border-info shadow text-info p-3 my-card  text-center mt-3">
                            <span class="fa fa-hospital-o fa-4x" aria-hidden="true"></span>
                            <h4>Last Reservation</h4>
                            <h2><date>@Html.DisplayFor(model => model.LastReservation)</date></h2>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-success mx-sm-1 p-3">
                        <div class="card border-success shadow text-success p-3 my-card text-center mt-3">
                            <span class="fa fa-eye fa-4x" aria-hidden="true"></span>
                            <h4>Reservations</h4>
                            <h2>@Html.DisplayFor(model => model.ReservationMade)</h2>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-danger mx-sm-1 p-3">
                        <div class="card border-danger shadow text-danger p-3 my-card text-center mt-3">
                            <span class="fa fa-money fa-4x" aria-hidden="true"></span>
                            <h4>Payment Awaiting</h4>
                            <h2>@Html.DisplayFor(model => model.NotPaid)</h2>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>

    
    </body>


