﻿@{
    Layout = null;
}
@model MyDentist.Models.DashboardDentistcs
<!DOCTYPE html>
<html lang="en">
@{
    ViewBag.Title = "Welcome to My Dentist";
}
<style>
    .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }

    container {
        position: relative;
        
    }
    .my-card {
        position: absolute;
        left: 47%;
        top: -20px;
        border-radius: 40%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/cssing/css")
</head>
<body>

    @Html.Partial("NavigationDentist")

        <div class="container m-b-100">
            <div class="jumbotron" style="background-color:white">
                <div class="row vw-100">
                    @if (ViewBag.Status == true)
                    {
                        <div class="col-md-4">
                            <div class="card border-info mx-sm-1 p-3">
                                <div class="card border-info shadow text-info p-3 my-card text-center mt-3">
                                    <span class="fa fa-male fa-4x" aria-hidden="true"></span>
                                    <h4>Patient Today</h4>
                                    <h3><date>@Html.DisplayFor(model => model.PatientToday)</date></h3>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-success mx-sm-1 p-3">
                                <div class="card border-success shadow text-success p-3 my-card text-center mt-3">
                                    <span class="fa fa-hospital-o fa-4x" aria-hidden="true"></span>
                                    <h4>Clinic Score</h4>
                                    <h3>@Html.DisplayFor(model => model.ClinicScore)</h3>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-danger mx-sm-1 p-3">
                                <div class="card border-danger shadow text-danger p- my-card text-center mt-3">
                                    <span class="fa fa-money fa-4x" aria-hidden="true"></span>
                                    <h4>Income</h4>
                                    <h3>@Html.DisplayFor(model => model.income)</h3>
                                </div>


                            </div>

                        </div>
                    }
                    else
                    {
                        if (ViewBag.activate == false)
                        {
                            <div class="col-md-12">
                                <div class="card border-danger mx-sm-1 p-3">


                                    <div class="text-danger text-center mt-2">
                                        <h2>@ViewBag.Message</h2>
                                        <span class="fa fa-warning fa-5x" aria-hidden="true"></span>
                                    </div>



                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="col-md-12">
                                <div class="card border-danger mx-sm-1 p-3">


                                    <div class="text-danger text-center mt-2">
                                        <h2>@ViewBag.Message</h2>
                                        <span class="fa fa-warning fa-5x" aria-hidden="true"></span>
                                    </div>



                                </div>

                            </div>
                        }
                    }
                </div>
            </div>
        </div>
 

    @Html.Partial("Footer")

    <!-- SCRIPTS -->
    @Scripts.Render("~/bundles/Content")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>





