﻿@{
    Layout = null;
}
@model MyDentist.Models.DashboardAdmin
<!DOCTYPE html>
<html lang="en">
@{
    ViewBag.Title = "Welcome to My Dentist";
}
<style>
    .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }

    .container {
        position: relative;
    }

    .my-card {
        position: absolute;
        left: 47%;
        top: -20px;
        border-radius: 40%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/cssing/css")
</head>
<body>

    @Html.Partial("NavigationAdmin")

    <div class="container m-b-100">
        <div class="jumbotron m-b-100" style="background-color:white">
            <div class="row vw-100">

                <div class="col-md-4">
                    <div class="card border-info mx-sm-1 p-3">
                        <div class="card border-info shadow text-info p-3 my-card text-center mt-3">
                            <span class="fa fa-male fa-4x" aria-hidden="true"></span>
                            <h4>Patient Users</h4>
                            <h2><date>@Html.DisplayFor(model => model.PatientUser)</date></h2>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-success mx-sm-1 p-3">
                        <div class="card border-success shadow text-success p-3 my-card text-center mt-3">
                            <span class="fa fa-medkit fa-4x" aria-hidden="true"></span>
                            <h4>Dentist Users</h4>
                            <h2>@Html.DisplayFor(model => model.DentistUser)</h2>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-danger mx-sm-1 p-3">
                        <div class="card border-danger shadow text-danger p-3 my-card text-center mt-3">
                            <span class="fa fa-hospital-o fa-4x" aria-hidden="true"></span>
                            <h4>Clinics Registered</h4>
                            <h2>@Html.DisplayFor(model => model.Clinics)</h2>
                        </div>
                        
                    </div>

                </div>

            </div>


        </div>
        <div class="jumbotron" style="background-color:white">
            <div class="row vw-100">

                <div class="col-md-6">
                    <div class="card border-info mx-sm-1 p-3">
                        <div class="card border-info shadow text-info p-3 my-card text-center mt-3">
                            <span class="fa fa-bookmark fa-4x" aria-hidden="true"></span>
                            <h4>Reservations Made</h4>
                            <h2><date>@Html.DisplayFor(model => model.ReservationMade)</date></h2>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-5 margin-right:100px">
                    <div class="card border-success mx-sm-1 p-3">
                        <div class="card border-success shadow text-success p-3 my-card text-center mt-3">
                            <span class="fa fa-bookmark-o fa-4x" aria-hidden="true"></span>
                            <h4>Reservations Today</h4>
                            <h2>@Html.DisplayFor(model => model.ReservationsToday)</h2>
                        </div>
                        
                    </div>
                </div>
                

            </div>


        </div>
    </div>


    @Html.Partial("Footer")

    <!-- SCRIPTS -->
    @Scripts.Render("~/bundles/Content")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>




