﻿@model IEnumerable<MyDentist.Models.tbl_Article>

@{
    ViewBag.Title = "ViewArticle";
}

<h2>ViewArticle</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tittle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Writer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Article }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Article }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Article })
        </td>
    </tr>
}

</table>
