﻿@model MyDentist.Models.tbl_Article

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>tbl_Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tittle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tittle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Writer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Writer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Article }) |
    @Html.ActionLink("Back to List", "Index")
</p>
