﻿@{
    Layout = null;
}
@model MyDentist.Models.tbl_Reservation
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Approve Payment</title>
    @Styles.Render("~/cssing/css")


</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @Html.Partial("NavigationDentist")



    <div class="container">
        <div class="row">
            <div class="text-align-center">
                <h2 style="color:lawngreen">Approve</h2>
            </div>
            <div>
                <div>
                    <hr />
                    <dl class="dl-horizontal" style="background-color:aliceblue">
                        <dt>
                            @Html.DisplayNameFor(model => model.Reservation_Date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Reservation_Date)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Reservation_status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Reservation_status)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Queue_number)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Queue_number)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Clinic_ID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Clinic_ID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Clinic_Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Clinic_Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Patient_Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Patient_Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>


                    </dl>
                </div>
                <p>
                    <input type="button" value="Go to Paid Reservartion List" class="btn btn-success" onclick="location.href = '@Url.Action("PaidReservation","UserDentist")'" />

                </p>
            </div>
        </div>
    </div>
</body>
@Html.Partial("Footer")

<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")