
﻿@{
    Layout = null;
}
@model MyDentist.Models.tbl_Reservation
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout</title>
    @Styles.Render("~/cssing/css")


</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @Html.Partial("NavigationDentist")


    @{
        ViewBag.Title = "Checkout";
    }
    <div class="container">
        <div class="row">
            <div class="text-align-center">
                <h2>Checkout</h2>
            </div>

            <div style="background-color:aliceblue">
                
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Patient_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Patient_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Reservation_Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Reservation_Date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Reservation_status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Reservation_status)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Queue_number)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Queue_number)
                    </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Clinic_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Clinic_Name)
                    </dd>

        </dl>
        <p>
            <input type="button" value="Submit" class="btn btn-success" onclick="location.href = '@Url.Action("ExaminationDone","UserDentist",new { id = Model.ID_Reservation})'" />
            <button class="btn btn-warning">@Html.ActionLink("Back to List", "IndexDentist")</button>
        </p>
    </div>
    
</body>


@Html.Partial("Footer")

<!-- SCRIPTS -->
>>>>>>> d536a27a035c8bc4dcb07e58c6abfa468303ef65
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")