﻿@{ 
    Layout = null;
}
@model MyDentist.Models.tbl_Services


@Styles.Render("~/cssing/css")
<style>
    input::-webkit-input-placeholder {
        opacity: 0.5;
    }

    input:-moz-placeholder {
        opacity: 0.5;
    }

    input:-ms-input-placeholder {
        opacity: 0.5;
    }

    .input100 {
        font-family: Ubuntu-Bold;
        font-size: 15px;
        color: #1b3815;
        line-height: 1.2;
        position: relative;
        display: block;
        width: 95%;
        height: 55px;
        background: #ebebeb;
        border-radius: 27px;
        padding: 0 35px 0 35px;
    }

    button, input, optgroup, select, textarea {
        margin: 10px;
        font: inherit;
        color: inherit;
    }

    .fontlabel {
        font-family: 'Asap Condensed Bold';
    }

    .center-div {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -150px;
    }

    .spinner {
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
    }

    .loader {
        margin: auto;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #15a0ec;
        border-bottom: 16px solid #15a0ec;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    .inner-div {
        background-color: white;
        border-radius: 15px;
        margin: auto;
        padding: 2%;
        width: 150px;
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @Html.Partial("NavigationDentist")

    @{
        ViewBag.Title = "MyClinic";
    }


    <div class="container">
        <div class="row">
            <div class="text-align-center">
                <h2>Edit Clinic Services</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID_services)
            </div>
            @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
            {
                <div class="alert alert-success">
                    <strong>Success!</strong>@ViewBag.Message
                    @Html.ActionLink("Click Here to see service list", "Services", new { id = Model.ID_Clinic })
                </div>

            }
            else
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div>
                            <div class="col-md-offset-2 col-md-10">
                                @Html.EditorFor(model => model.Services_Name, new { htmlAttributes = new { @class = "input100", style = "padding:", placeholder = Model.Services_Name } })
                                @Html.ValidationMessageFor(model => model.Services_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div>
                            <div class="col-md-offset-2 col-md-10">
                                @Html.EditorFor(model => model.Services_Price, new { htmlAttributes = new { @class = "input100", style = "padding:", placeholder = Model.Services_Price } })
                                @Html.ValidationMessageFor(model => model.Services_Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Update" class="btn btn-success" />
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-info">@Html.ActionLink("Back to List", "MyClinic")</button>
                    </div>
                }
            }
            </div> 

        </div>
        }



        
</body>
@Html.Partial("Footer")

<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")






