﻿@{
    Layout = null;
}
@model MyDentist.Models.tbl_Reservation
@Styles.Render("~/cssing/css")

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @Html.Partial("NavigationDentist")


    @{
        ViewBag.Title = "ScheduleDetails";
    }
    <div class="container">
        <div class="row">

            

            <div ">
                <div class="text-align-center">
                    <h4>Examination Done</h4>
                </div>
                <hr />
                <dl  class="dl-horizontal table-bordered" style="background-color:aliceblue">
                    <dt>
                        @Html.DisplayNameFor(model => model.Patient_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Patient_Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Reservation_Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Reservation_Date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Queue_number)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Queue_number)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Reservation_status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Reservation_status)
                    </dd>


                </dl>
            </div>
            <p>
                <input type="button" value="Next Patient" class="btn btn-success" onclick="location.href = '@Url.Action("NextPatient", "UserDentist", new { queue_number = Model.Queue_number , clinic_id=Model.Clinic_ID })'" />

            </p>
        </div>
    </div>
</body>
@Html.Partial("Footer")

<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")
