﻿@{
    Layout = null;
}
@model MyDentist.Models.tbl_Clinic
@Styles.Render("~/cssing/css")
<style>

    .pic {
        max-width: 300px;
        height: 200px;
        box-shadow: 2px 2px 4px #000000;
        margin-top: 50px;
    }

    div.absolute {
        display: block;
        margin: auto;
        text-align: center;
        top: 50%;
        left: 50%;
    }

    .stories-image img {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
    .fontlabel {
        font-family: 'Asap Condensed Bold';
        color: black;
    }
    

    ​​​​​​
    

</style>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @Html.Partial("NavigationDentist")

    @{
        ViewBag.Title = "MyClinic";
    }

    
    <div class="container">
        <div class="row">
            <div class="text-align-center">
                <h2>My Clinic</h2>
            </div>
            @if (ViewBag.Status == true)
            {
                <div>

                    <hr />
                    <dl class="dl-horizontal table-bordered" style="background-color:aliceblue">

                        <dd>
                            <div class="latest-stories">
                                <div class="stories-image">
                                    <a href="#"><img src="@Url.Action("RetrieveImage", new { id = Model.ID_Clinic})" class="pic" alt="" /></a>
                                </div>
                                <div class="stories-info">
                                    <a class="fontlabel"><span style="font-size:medium">@Html.DisplayNameFor(model => model.Clinic_Name) </span></a>
                                    <h5 class="fontlabel" style="font-size:medium">@Html.DisplayFor(model => model.Clinic_Name)</h5>
                                    <a class="fontlabel"><span style="font-size:medium">@Html.DisplayNameFor(model => model.Address)</span></a>
                                    <h5 class="fontlabel" style="font-size:medium">@Html.DisplayFor(model => model.Address)</h5>
                                    <a class="fontlabel"><span style="font-size:medium">@Html.DisplayNameFor(model => model.Phone)</span></a>
                                    <h5 class="fontlabel" style="font-size:medium">@Html.DisplayFor(model => model.Phone)</h5>
                                    <a class="fontlabel"><span style="font-size:medium">@Html.DisplayNameFor(model => model.Open_hour)</span></a>
                                    <h5 class="fontlabel" style="font-size:medium">@Html.DisplayFor(model => model.Open_hour)</h5>
                                    <a class="fontlabel"><span style="font-size:medium">@Html.DisplayNameFor(model => model.Close_hour)</span></a>
                                    <h5 class="fontlabel" style="font-size:medium">@Html.DisplayFor(model => model.Close_hour)</h5>
                                    <a class="fontlabel"><span style="font-size:medium">@Html.DisplayNameFor(model => model.Patient_limit)</span></a>
                                    <h5 class="fontlabel" style="font-size:medium">@Html.DisplayFor(model => model.Patient_limit)</h5>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
                <p class="text-align-center">
                    <input type="button" value="Set Clinic Location" class="btn btn-success" onclick="location.href = '@Url.Action("ClinicMap","UserDentist")'" />
                    <input type="button" value="Edit Clinic Information" class="btn btn-success" onclick="location.href = '@Url.Action("EditClinic","UserDentist",new { id = Model.ID_Clinic})'" />
                    <input type="button" value="Services List" class="btn btn-success" onclick="location.href = '@Url.Action("Services","UserDentist",new { id = Model.ID_Clinic})'" />
                    <input type="button" value="Add Clinic Services" class="btn btn-success" onclick="location.href = '@Url.Action("ClinicServices","UserDentist",new { id = Model.ID_Clinic})'" />


                </p>

            }
            else
            {
                if (ViewBag.activate == false)
                {
                    <div class="col-md-12">
                        <div class="card border-danger mx-sm-1 p-3">


                            <div class="text-danger text-center mt-2">
                                <h2>@ViewBag.Message</h2>
                                <span class="fa fa-warning fa-5x" aria-hidden="true"></span>
                            </div>



                        </div>

                    </div>
                }
                else
                {
                    <<div class="col-md-12">
                        <div class="card border-danger mx-sm-1 p-3">


                            <div class="text-danger text-center mt-2">
                                <h2>@ViewBag.Message</h2>
                                <span class="fa fa-warning fa-5x" aria-hidden="true"></span>

                            </div>
                            <div class="text-danger text-center mt-2">

                                <input type="button" value="Add Clinic" class="btn btn-success" onclick="location.href = '@Url.Action("InsertClinic","UserDentist")'" />
                            </div>


                        </div>

                    </div>
                }


            }
        </div>
    </div>
</body>
@Html.Partial("Footer")

<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")

