﻿@{
    Layout = null;
}
@model MyDentist.Models.tbl_Reservation
@Styles.Render("~/cssing/css")

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @Html.Partial("NavigationDentist")


    @{
        ViewBag.Title = "ScheduleDetails";
    }
    
    <div class="container">
        @if (ViewBag.Status == true)
        {
            <div class="row">



                <div class="text-align-center">
                    <h2>ScheduleDetails</h2>
                </div>

                <div>
                    <h4>tbl_Reservation</h4>
                    <hr />
                    <dl class="dl-horizontal table-bordered">
                        <dt>
                            @Html.DisplayNameFor(model => model.Patient_Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Patient_Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Reservation_Date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Reservation_Date)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Queue_number)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Queue_number)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Reservation_status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Reservation_status)
                        </dd>


                    </dl>
                </div>
                <p>
                    <input type="button" value="Start Examination" class="btn btn-default" onclick="location.href = '@Url.Action("StartExamination","UserDentist",new { id = Model.ID_Reservation})'" />
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Reservation }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        }
        else
        {
            <div class="text-align-center"><h4>@ViewBag.Message</h4></div>
        }
    </div>
    
</body>
@Html.Partial("Footer")

<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")
