﻿@{
    Layout = null;
}
@model MyDentist.Models.tbl_Reservation

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment Details</title>
    @Styles.Render("~/cssing/css")

    <style>

        .pic {
            max-width: 400px;
            max-height: 400px;
            box-shadow: 2px 2px 4px #000000;
            margin-top: 30px;
        }

        div.absolute {
            display: block;
            margin: auto;
            text-align: center;
            top: 50%;
            left: 50%;
        }

        .stories-image img {
            border-radius: 0;
            width: auto;
            height: auto;
        }

        .fontlabel {
            font-family: 'Asap Condensed Bold';
            color: black;
        }
        }
    </style>
</head>
<html>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @Html.Partial("NavigationDentist")



    <div class="container">
        <div class="row">
            <div class="text-align-center">
                <h2>Payment Details</h2>
            </div>
            <div>

                <hr />
                <dl class="dl-horizontal table-bordered" style="background-color:aliceblue">
                    <dd>
                        <div class="latest-stories">
                            <div class="stories-image">
                                <img src="@Url.Action("ShowPaymentPicture", new { id = Model.ID_Reservation})" class="pic" alt="" />

                            </div>
                            <div class="stories-info m-t-20">
                                <a class="fontlabel"><h5>@Html.DisplayNameFor(model => model.Patient_Name)</h5></a>
                                <span class="fontlabel">@Html.DisplayFor(model => model.Patient_Name)</span>
                                <a class="fontlabel"><h5>@Html.DisplayNameFor(model => model.Reservation_Date)</h5></a>
                                <span class="fontlabel">@Html.DisplayFor(model => model.Reservation_Date)</span>
                                <a class="fontlabel"><h5>@Html.DisplayNameFor(model => model.Queue_number)</h5></a>
                                <span class="fontlabel">@Html.DisplayFor(model => model.Queue_number)</span>
                                <a class="fontlabel"><h5>@Html.DisplayNameFor(model => model.Price)</h5></a>
                                <span class="fontlabel">@Html.DisplayFor(model => model.Price)</span>
                                <a class="fontlabel"><h5>Bank Name</h5></a>
                                <span class="fontlabel">@ViewBag.bank_name</span>
                                <a class="fontlabel"><h5>Account Owner</h5></a>
                                <span class="fontlabel">@ViewBag.Account_owner</span>

                                <a class="fontlabel"><h5>Account Number</h5></a>
                                <span class="fontlabel">@ViewBag.Account_number</span>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            <p class="text-align-center">
                <input type="button" value="Approve" class="btn btn-success" onclick="location.href = '@Url.Action("ApprovePayment","UserDentist",new { id = Model.ID_Reservation})'" />


            </p>
        </div>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
@Html.Partial("Footer")
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")
