﻿@{
    Layout = null;
}
@model MyDentist.Models.tbl_Reservation
@Styles.Render("~/cssing/css")

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @Html.Partial("NavigationDentist")


    @{
        ViewBag.Title = "ScheduleDetails";
    }
    <div class="container">
        <div class="row">



            <div class="text-align-center">
                <h2>ScheduleDetails</h2>
            </div>

            <div>
                <hr />
                <dl class="dl-horizontal table-bordered">
                    <dt>
                        @Html.DisplayNameFor(model => model.Patient_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Patient_Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Reservation_Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Reservation_Date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Queue_number)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Queue_number)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Reservation_status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Reservation_status)
                    </dd>
                    @if (Model.note!=null && Model.note!="")
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.note)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.note)
                        </dd>
                    }


                </dl>
            </div>
            <p>
                <input type="button" value="Add Note" class="btn btn-success" onclick="location.href = '@Url.Action("AddNote","UserDentist",new { id = Model.ID_Reservation})'" />
                <input type="button" value="Add Service" class="btn btn-success" onclick="location.href = '@Url.Action("ServiceList","UserDentist",new { id = Model.ID_Reservation})'" />
                <input type="button" value="Service List" class="btn btn-info" onclick="location.href = '@Url.Action("Cart","UserDentist",new { id = Model.ID_Reservation})'" />
                <input type="button" value="Examination Done" class="btn btn-success" onclick="location.href = '@Url.Action("ExaminationDone","UserDentist",new { id = Model.ID_Reservation})'" />


            </p>
        </div>
    </div>
</body>
@Html.Partial("Footer")

<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")
