﻿

@model MyDentist.Models.tbl_Reservation

@{
    ViewBag.Title = "BookDentist";
}
<style>
    a.my-class {
        color: white
    }
</style>
<div class="text-align-center">
    <h2>BookDentist</h2>
</div>
<div class="text-success" style="color:greenyellow">
    <h4 style="color:lightgreen">Reservation Success!</h4>
</div>
<div class="table-bordered">


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clinic_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Queue_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Queue_number)
        </dd>
    </dl>
</div>

<li class="my-class m-t-10"><button class="btn btn-info my-class m-t-10">@Html.ActionLink("Show my reservations", "MyReservations",null, new { @class = "my-class" })</button><li>
