﻿@model MyDentist.Models.tbl_Reservation

@{
    ViewBag.Title = "CancelReservation";
}
<style>
    a.my-class {
        color: white
    }
</style>
<div class="text-success">@ViewBag.Message</div>
<div class="text-align-center">
    <h2>Cancel Reservation</h2>

</div>
<h3 style="color:red">Are You Sure You Want to Cancel This?</h3>
<div>

    <hr />
    <dl class="dl-horizontal table-bordered">
        <dt>
            @Html.DisplayNameFor(model => model.Reservation_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Queue_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Queue_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clinic_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clinic_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button class="btn btn-danger"><li>@Html.ActionLink("YES", "CancelReservation", new { id = Model.ID_Reservation }, new { @class = "my-class" })</li></button>
    
    <button class="btn btn-info"><li>@Html.ActionLink("Back to List", "MyReservations", new { Styles = "color:white" }, new { @class = "my-class" })</li></button>
</div>
    }
</div>
