﻿@model MyDentist.Models.tbl_Reservation

@{
    ViewBag.Title = "CancelReservation";
}
<style>
    a.my-class {
        color: white
    }
</style>
<div class="text-align-center m-t-25">
    <h2 style="color:greenyellow" class="text-align-center m-t-25">Your Reservation is successfully canceled</h2>
</div>



    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        
            <button class="btn btn-info">@Html.ActionLink("Back to List", "MyReservations",null, new { @class = "my-class" })</button>
        
    }
</div>
