﻿@model MyDentist.Models.tbl_Clinic
 
@{
    ViewBag.Title = "ClinicDetails";
}


<style>
    .pic {
        max-width: 300px;
        height: 200px;
        box-shadow: 2px 2px 4px #000000;
        margin-top: 50px;
    }

    div.absolute {
        display: block;
        margin: auto;
        text-align: center;
        top: 50%;
        left: 50%;
    }

    .stories-image img {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .fontlabel {
        font-family: 'Asap Condensed Bold';
        color: black;
    }

    a.my-class {
        color: white
    }
</style>
<div>
    <div class="text-align-center">
        <h4>Clinic Details</h4>
    </div>

    <div style="background-color: aliceblue;">

        <hr />
        <dl class="dl-horizontal table-bordered" ,>

            <dd>
                <div class="latest-stories">
                    <div class="stories-image">
                        <a href="#"><img src="@Url.Action("RetrieveImageClinic", new { id = Model.ID_Clinic})" class="pic" alt="" /></a>
                    </div>
                    <div class="stories-info">
                        <a class="fontlabel"><h5>@Html.DisplayNameFor(model => model.Clinic_Name)</h5></a>
                        <span class="fontlabel">@Html.DisplayFor(model => model.Clinic_Name)</span>
                        <a class="fontlabel"><h5>@Html.DisplayNameFor(model => model.Address)</h5></a>
                        <span class="fontlabel">@Html.DisplayFor(model => model.Address)</span>
                        <a class="fontlabel"><h5>@Html.DisplayNameFor(model => model.Phone)</h5></a>
                        <span class="fontlabel">@Html.DisplayFor(model => model.Phone)</span>
                        <a class="fontlabel"><h5>@Html.DisplayNameFor(model => model.Open_hour)</h5></a>
                        <span class="fontlabel">@Html.DisplayFor(model => model.Open_hour)</span>
                        <a class="fontlabel"><h5>@Html.DisplayNameFor(model => model.Close_hour)</h5></a>
                        <span class="fontlabel">@Html.DisplayFor(model => model.Close_hour)</span>
                        <a class="fontlabel"><h5>@Html.DisplayNameFor(model => model.Patient_limit)</h5></a>
                        <span class="fontlabel">@Html.DisplayFor(model => model.Patient_limit)</span>
                    </div>
                </div>
            </dd>
        </dl>
    </div>
    <p class="text-align-center">
        Click Here to see this clinic's Services

        <button class="btn btn-success"><li>@Html.ActionLink("Sevice List", "ShowService", new { id = Model.ID_Clinic }, new { @class = "my-class" })</li></button>
    </p>
    @if (ViewBag.Status == "Available")
    {
        <p class="text-align-center">
            Clinic can be booked

            <button class="btn btn-success"><li>@Html.ActionLink("Book Now!", "BookDentist", new { id = Model.ID_Clinic }, new { @class = "my-class" })</li></button>
        </p>
    }
    else
    {
        <h3 class="text-align-center" style="color:red;">
            @ViewBag.Message

        </h3>
        <p class="text-success; ">
            <button class="btn btn-info">@Html.ActionLink("Back to List", "ShowClinics", null, new { @class = "my-class" })</button>
        </p>
    }
</div>

@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/Scripts")
@Scripts.Render("~/bundles/jquery")

