﻿@model MyDentist.Models.tbl_Patient
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    }
</script>
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box
    }

    body {
        font-family: 'Poppins', sans-serif;
        background-color: white
    }

    .wrapper {
        padding: 30px 50px;
        border: 1px solid #ddd;
        border-radius: 15px;
        margin: 10px auto;
        max-width: 600px
    }

    h4 {
        letter-spacing: -1px;
        font-weight: 400
    }

    .img {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        object-fit: cover
    }

    #img-section p,
    #deactivate p {
        font-size: 12px;
        color: #777;
        margin-bottom: 10px;
        text-align: justify
    }

    #img-section b,
    #img-section button,
    #deactivate b {
        font-size: 14px
    }

    label {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
        color: #777;
        padding-left: 3px
    }

    .form-control {
        border-radius: 10px
    }

    input[placeholder] {
        font-weight: 500
    }

    .form-control:focus {
        box-shadow: none;
        border: 1.5px solid #0779e4
    }

    select {
        display: block;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 10px;
        height: 40px;
        padding: 5px 10px
    }

        select:focus {
            outline: none
        }

    .button {
        background-color: #fff;
        color: #0779e4
    }

        .button:hover {
            background-color: #0779e4;
            color: #fff
        }

    .btn-primary {
        background-color: #0779e4
    }

    .danger {
        background-color: #fff;
        color: #e20404;
        border: 1px solid #ddd
    }

        .danger:hover {
            background-color: #e20404;
            color: #fff
        }

    @@media(max - width:576px) {
        .wrapper {
            padding: 25px 20px
        }

        #deactivate {
            line-height: 18px
        }
    }

    .pic {
        max-width: 300px;
        height: 200px;
        box-shadow: 2px 2px 4px #000000;
        margin-top: 50px;
    }
</style>
@using (Html.BeginForm("EditProfile", "UserPatient", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="wrapper mt-sm-5" style="background-color:aliceblue">
        <h4 class="pb-4 border-bottom">Account settings</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Patient)
    <div class="d-flex align-items-start py-3 border-bottom">

        @if (Model.Picture != null)
        {
            <img src="@Url.Action("RetrieveImage", new { id = Model.ID_Patient})" class="rounded-circle" width="300">
        }
        else
        {
            <img src="@Url.Content("~/images/default-profile.jpg")" class="rounded-circle" width="300">
        }


        <div class="pl-sm-4 pl-2" id="img-section">
            <b>Profile Photo</b>

            <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" />
        </div>
    </div>
        <div class="py-2">
            <div class="row py-2">

                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="lastname">Full Name</label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "bg-light form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="phone">Birth Date</label>

                    <input type="text" id="event_date" name="Birth_date" class="bg-light form-control" value="@Html.DisplayFor(model => model.Birth_date)" />
                    @Html.ValidationMessageFor(model => model.Birth_date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row py-2">

                <div class="col-md-6 pt-md-0 pt-3 ">
                    <label for="phone">Address</label>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "bg-light form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="phone">Phone</label>
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "bg-light form-control", placeholder = "Phone" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row py-2">


            </div>

        </div>
        <div class="py-3 pb-4 border-bottom m-t-16">
            <input type="submit" value="Save" class="btn btn-primary mr-3 " />
            <input type="button" value="Cancel" class="btn btn-danger" onclick="location.href = '@Url.Action("ProfilePatient","UserPatient")'" />
        </div>
    </div>

}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $('#event_date').datepicker({
        format: 'mm/dd/yyyy',
    }).on('changeDate', function (e) {
        console.log(e.format());
    });
</script>
