﻿@model MyDentist.Models.tbl_Feedback



@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@ViewBag.Message
        </div>
    }
}
else
{
    <div class="imagebg"></div>
    <div class="row " style="margin-top: 50px">
        <div class="col-md-6 col-md-offset-3 form-container">
            <h2>Feedback</h2>
            <p>
                Please provide your feedback below:
            </p>
            <form role="form" method="post" id="reused_form">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>How do you rate your overall experience?</label>
                        <div class="text-danger">

                            @ViewBag.Message
                        </div>
                        <div>
                            <label>Doctor Name : </label>
                            Drg. @ViewBag.docName
                        </div>
                        <div>
                            <label>Clinic Name : </label>
                            @ViewBag.clinicName
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <p>
                            <label class="radio-inline">
                                <input type="radio" name="experience" id="radio_experience" value="bad">
                                @Html.RadioButtonFor(m => m.Score, 1)
                                Bad
                            </label>

                            <label class="radio-inline">
                                <input type="radio" name="experience" id="radio_experience" value="Not Bad">
                                @Html.RadioButtonFor(m => m.Score, 2)
                                Not Bad
                            </label>

                            <label class="radio-inline">
                                <input type="radio" name="experience" id="radio_experience" value="average">
                                @Html.RadioButtonFor(m => m.Score, 3)
                                Average
                            </label>

                            <label class="radio-inline">
                                <input type="radio" name="experience" id="radio_experience" value="good">
                                @Html.RadioButtonFor(m => m.Score, 4)
                                Good
                            </label>

                            <label class="radio-inline">
                                <input type="radio" name="experience" id="radio_experience" value="Very Good">
                                @Html.RadioButtonFor(m => m.Score, 5)
                                Very Good
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">

                        <label for="comments">
                            Comments:
                        </label>
                        @Html.TextAreaFor(model => model.Comment, new { @class = "form-control", @rows = 7 })

                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button type="submit" class="btn btn-lg btn-warning btn-block">Post </button>
                    </div>
                </div>

            </form>
            <div id="success_message" style="width:100%; height:100%; display:none; ">
                <h3>Posted your feedback successfully!</h3>
            </div>
            <div id="error_message"
                 style="width:100%; height:100%; display:none; ">
                <h3>Error</h3>
                Sorry there was an error sending your form.

            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "MyReservations")
</div>
