﻿
@model MyDentist.Models.LoginPatient
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password Patient</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/cssing/css")
    <style>
        input::-webkit-input-placeholder {
            opacity: 0.5;
        }

        input:-moz-placeholder {
            opacity: 0.5;
        }

        input:-ms-input-placeholder {
            opacity: 0.5;
        }

        .input100 {
            font-family: Ubuntu-Bold;
            font-size: 15px;
            color: #1b3815;
            line-height: 1.2;
            position: relative;
            display: block;
            width: 95%;
            height: 55px;
            background: #ebebeb;
            border-radius: 27px;
            padding: 0 35px 0 35px;
        }

        button, input, optgroup, select, textarea {
            margin: 10px;
            font: inherit;
            color: inherit;
        }

        .fontlabel {
            font-family: 'Asap Condensed Bold';
        }

        .center-div {
            width: 300px;
            height: 300px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-top: -150px;
        }

        .spinner {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
        }

        .loader {
            margin: auto;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #15a0ec;
            border-bottom: 16px solid #15a0ec;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        .inner-div {
            background-color: white;
            border-radius: 15px;
            margin: auto;
            padding: 2%;
            width: 150px;
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <span class="login100-form-title">
                Forgot Password
            </span>
            <div class="wrap-login100">
                <div class="flex-col-c p-t-10 p-b-40">
                    <img src="@Url.Content("~/images/MyDentistLogo.png")" class="responsive">
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="text-success">
                        @ViewBag.Message
                    </div>

                    <div class="wrap-input100 validate-input m-b-16">
                        @Html.TextBox("Email", "", new { @class = "input100", placeholder = "Email" })
                    </div>

                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" id="btnSubmit" value="Submit" class="btn btn-success" />
                            <input type="button" value="Cancel" class="btn btn-warning" onclick="location.href = '@Url.Action("Login","UserPatient","Login")'" />
                            <div class="spinner" style="display:none">
                                <div class="center-div">
                                    <div class="inner-div">
                                        <div class="loader"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/Content")
    @Scripts.Render("~/bundles/Scripts")
    @Scripts.Render("~/bundles/jquery")
</body>
</html>
<script>
    $('#btnSubmit').click(function () {
        $('.spinner').css('display', 'block');
    });
</script>

