﻿@model MyDentist.Models.LoginPatient
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Patient</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/cssing/css")
<style>
        input::-webkit-input-placeholder {
            opacity: 0.5;
        }

        input:-moz-placeholder {
            opacity: 0.5;
        }

        input:-ms-input-placeholder {
            opacity: 0.5;
        }

        .input100 {
            font-family: Ubuntu-Bold;
            font-size: 15px;
            color: #1b3815;
            line-height: 1.2;
            position: relative;
            display: block;
            width: 95%;
            height: 55px;
            background: #ebebeb;
            border-radius: 27px;
            padding: 0 35px 0 35px;
        }

        button, input, optgroup, select, textarea {
            margin: 10px;
            font: inherit;
            color: inherit;
        }

        .fontlabel {
            font-family: 'Asap Condensed Bold';
        }

        .center-div {
            width: 300px;
            height: 300px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-top: -150px;
        }

        .spinner {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
        }

        .loader {
            margin: auto;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #15a0ec;
            border-bottom: 16px solid #15a0ec;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        .inner-div {
            background-color: white;
            border-radius: 15px;
            margin: auto;
            padding: 2%;
            width: 150px;
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    .btn-warning {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236
    }

    .btn-success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c
    }
    .btn-info {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da
    }
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px
    }
</style>
</head>


<body>
    
        <div class="limiter">
            <div class="container-login100">
                
                <div class="wrap-login100">
                    <div class="flex-col-c p-t-10 p-b-40">
                        <img src="@Url.Content("~/images/MyDentistLogo.png")" class="responsive">
                    </div>
                    <div class="text-danger">
                        @ViewBag.Message
                    </div>
                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="wrap-input100 validate-input m-b-16">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input100", placeholder = "Username" } })
                        </div>
                        
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                        <div class="wrap-input100 validate-input">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input100", placeholder = "Password" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="text-left col-lg-11">
                                @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label p-t-10 col-lg-4" })
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.RememberMe)
                                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <input type="submit" id="btnSubmit" value="Login as Patient" class="login100-form-btn" />
                            <div class="spinner" style="display:none">
                                <div class="center-div">
                                    <div class="inner-div">
                                        <div class="loader"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-right p-t-13 p-b-23">
                            <span class="txt1">
                                Forgot
                            </span>

                            <a href="#" class="txt2">
                                @Html.ActionLink(" Password?", "ForgotPassword", "UserPatient", htmlAttributes: new { @style = "margin-right:10px" })
                            </a>
                        </div>

                        <div class="flex-col-c p-t-80 p-b-40">
                            <span class="txt1 p-b-9">
                                Don’t have an account? <input type="button" value="Register" class="btn btn-warning" onclick="location.href = '@Url.Action("Registration","UserPatient","Registration")'" />
                            </span>

                            <a href="#" >
                                Click here for <input type="button" value="Dentist User" class="btn btn-info" onclick="location.href = '@Url.Action("Login","UserDentist","Login")'" />
                            </a>
                        </div>

                    }
                </div>
            </div>
        </div>
    


        @Scripts.Render("~/bundles/Content")
        @Scripts.Render("~/bundles/Scripts")
        @Scripts.Render("~/bundles/jquery")
 </body>
 </html>

<script>
        $('#btnSubmit').click(function () {
            $('.spinner').css('display', 'block');
        });
 </script>

