﻿@using PagedList.Mvc
@model PagedList.IPagedList<MyDentist.Models.tbl_Reservation>

@{
    ViewBag.Title = "My Reservations";
}
<div class="text-align-center">
    <h2>My Reservations</h2>
</div>

<style>
    a.my-class {
        color: white
    }
</style>
<style>
    .fontlabel {
        font-family: 'Asap Condensed Bold';
    }

    @@font-face {
        font-family: AsapCondensed_Bold;
        src: url('~/fonts/AsapCondensed-Bold.ttf');
    }

    @@font-face {
        font-family: Poppins-Bold;
        src: url('~/fonts/poppins/Poppins-Bold.ttf');
    }

    .limiter {
        width: 100%;
        margin: 0 auto;
    }

    .container-table100 {
        width: 100%;
        background: #c4d3f6;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 33px 30px;
    }

    .wrap-table100 {
        width: 960px;
        border-radius: 10px;
        overflow: hidden;
    }

    .table {
        width: 100%;
        display: table;
        margin: 0;
    }

    @@media screen and (max-width: 768px) {
        .table {
            display: block;
        }
    }

    .row {
        display: table-row;
        background: #fff;
    }

        .row.header {
            color: #ffffff;
            background: #6c7ae0;
        }

    @@media screen and (max-width: 768px) {
        .row {
            display: block;
        }

            .row.header {
                padding: 0;
                height: 0px;
            }

                .row.header .cell {
                    display: none;
                }

            .row .cell:before {
                font-family: 'Asap Condensed Bold';
                font-size: 12px;
                color: #808080;
                line-height: 1.2;
                text-transform: uppercase;
                font-weight: unset !important;
                margin-bottom: 13px;
                content: attr(data-title);
                min-width: 98px;
                display: block;
            }
    }

    .cell {
        display: table-cell;
    }

    @@media screen and (max-width: 768px) {
        .cell {
            display: block;
        }
    }

    .row .cell {
        font-family: 'Asap Condensed Bold';
        font-size: 15px;
        color: #666666;
        line-height: 1.2;
        font-weight: unset !important;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;
        padding-right: 20px;
    }

    .row.header .cell {
        font-family: 'Asap Condensed Bold';
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        font-weight: unset !important;
        padding-top: 19px;
        padding-bottom: 19px;
        padding-right: 20px;
    }

    .row .cell:nth-child(1) {
        width: 360px;
        padding-left: 40px;
    }

    .row .cell:nth-child(2) {
        width: 160px;
    }

    .row .cell:nth-child(3) {
        width: 250px;
    }

    .row .cell:nth-child(4) {
        width: 190px;
    }


    .table, .row {
        width: 100% !important;
    }

        .row:hover {
            background-color: #ececff;
            cursor: pointer;
        }

    @@media (max-width: 768px) {
        .row {
            border-bottom: 1px solid #f2f2f2;
            padding-bottom: 18px;
            padding-top: 30px;
            padding-right: 15px;
            margin: 0;
        }

            .row .cell {
                border: none;
                padding-left: 30px;
                padding-top: 16px;
                padding-bottom: 16px;
            }

                .row .cell:nth-child(1) {
                    padding-left: 30px;
                }

            .row .cell {
                font-family: 'Asap Condensed Bold';
                font-size: 18px;
                color: #555555;
                line-height: 1.2;
                font-weight: unset !important;
                padding-right: 20px;
            }

        .table, .row, .cell {
            width: 100% !important;
        }
    }

    table {
        width: 60%;
        border-collapse: collapse;
    }

        table tr {
            border: solid thin;
        }

            table tr td {
                width: 20%;
            }

    #pager {
        padding-left: 5%;
    }

        #pager p {
            margin-left: 5%;
        }

    input::-webkit-input-placeholder {
        opacity: 0.5;
    }

    input:-moz-placeholder {
        opacity: 0.5;
    }

    input:-ms-input-placeholder {
        opacity: 0.5;
    }

    .input100 {
        font-family: Ubuntu-Bold;
        font-size: 15px;
        color: #1b3815;
        /* line-height: 1.2; */
        position: relative;
        display: block;
        width: 200px;
        height: 30px;
        background: #ebebeb;
        border-radius: 27px;
        padding: 0 35px 0 35px;
    }
</style>

@if (ViewBag.activate == false)
{
    <div class="col-md-12">
        <div class="card border-danger mx-sm-1 p-3">


            <div class="text-danger text-center mt-2">
                <h2>@ViewBag.Message</h2>
                <span class="fa fa-warning fa-5x" aria-hidden="true"></span>
            </div>



        </div>

    </div>
}
else
{
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table">

                    <div class="row header">
                        <div class="cell">
                            Reservation Date
                        </div>
                        <div class="cell">
                            Reservation Status
                        </div>
                        <div class="cell">
                            Queue Number
                        </div>
                        <div class="cell">
                            Clinic Name
                        </div>
                        <div class="cell">
                            Patient Name
                        </div>
                        <div class="cell">
                            Username
                        </div>
                        <div class="cell">
                            Action
                        </div>
                    </div>

                    @foreach (var item in Model)
                    {

                        <div class="row">
                            <div class="cell" data-title="Clinic Name">
                                @Html.DisplayFor(modelItem => item.Reservation_Date)
                            </div>
                            <div class="cell" data-title="Address">
                                @Html.DisplayFor(modelItem => item.Reservation_status)
                            </div>
                            <div class="cell" data-title="Phone">
                                @Html.DisplayFor(modelItem => item.Queue_number)
                            </div>
                            <div class="cell" data-title="Open Hour">
                                @Html.DisplayFor(modelItem => item.Clinic_Name)
                            </div>
                            <div class="cell" data-title="Location">
                                @Html.DisplayFor(modelItem => item.Patient_Name)
                            </div>
                            <div class="cell" data-title="Location">
                                @Html.DisplayFor(modelItem => item.tbl_Patient.Username)
                            </div>
                            @if (item.Reservation_status == "Waiting")
                            {
                                <div class="cell" data-title="Action">
                                    <button class="btn btn-danger">@Html.ActionLink("Cancel Schedule", "CancelVerification", new { id = item.ID_Reservation }, new { @class = "my-class" })</button>
                                    <button class="btn btn-success"><li>@Html.ActionLink("Details", "ReservationDetails", new { id = item.ID_Reservation }, new { @class = "my-class" })</li></button>
                                </div>
                            }
                            else if (item.Reservation_status == "Done")
                            {
                                <button class="btn btn-info"><li>@Html.ActionLink("Show Payment Details", "PaymentDetails", new { id = item.ID_Reservation }, new { @class = "my-class" })</li></button>
                                <button class="btn btn-warning"><li>@Html.ActionLink("Pay", "UploadPayment", new { id = item.ID_Reservation }, new { @class = "my-class" })</li></button>
                            }
                            else if (item.Reservation_status == "Approved")
                            {
                                <button class="btn btn-success"><li>@Html.ActionLink("Give Feedback", "Feedback", new { id = item.ID_Reservation }, new { @class = "my-class" })</li></button>
                            }
                            else
                            {
                                <button class="btn btn-success"><li>@Html.ActionLink("Details", "ReservationDetails", new { id = item.ID_Reservation }, new { @class = "my-class" })</li></button>
                            }
                        </div>
                        <div id="pager">
                            <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
                            @Html.PagedListPager(Model, page => Url.Action("MyReservations", new { page }))
                        </div>
                    }
                </div>
                
            </div>
        </div>
    </div>


    <p>
        <input type="button" value="My Reservation History" class="btn btn-info m-t-25" onclick="location.href = '@Url.Action("ReservationHistory","UserPatient")'" />
    </p>
}

