﻿
@{
    ViewBag.Title = "NearbyClinics";
}
<style>
    a.my-class {
        color: white
    }
</style>
<div class="text-align-center">
    <h2>Nearby Clinics</h2>
</div>
<div class="form-group">
    <div class="text-align-center">
        <input type="button" value="Set your location" class="btn btn-success" onclick="location.href = '@Url.Action("Gmap","Home","Gmap")'" />
        <input type="button" value="Show Clinics" class="btn btn-info my-class" onclick="location.href = '@Url.Action("ShowClinics","UserPatient","ShowClinics")'" />
    </div>
</div>

