﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>


    @Styles.Render("~/cssFaq/css")
    <title>FAQ Template | CodyHouse</title>
</head>
<body>
    @Html.Partial("Navigation")
    <header class="cd-header flex flex-column flex-center">
        <div class="text-component text-center">
            <h1>FAQ Template</h1>
        </div>
    </header>

    <section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
        <ul class="cd-faq__categories">
            <li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Basics</a></li>
            <li><a class="cd-faq__category truncate" href="#account">Account</a></li>
            <li><a class="cd-faq__category truncate" href="#payments">Payments</a></li>
        </ul> <!-- cd-faq__categories -->

        <div class="cd-faq__items">
            <ul id="basics" class="cd-faq__group">
                <li class="cd-faq__title"><h2>Basics</h2></li>
                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I reset my password?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>To reset your password if you're not logged in to MyDentist:</p>
                            <p>         1. In log in page</p>
                            <p>         2. Click Forgot Password</p>
                            <p>         3. Input your email and submit</p>
                            <p>         4. Check your email and click link reset password</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I sign up?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>To sign up your account in MyDentist:</p>
                            <p>         1. In log in page</p>
                            <p>         2. Click Registration</p>
                            <p>         3. Fill you information</p>
                            <p>         4. Check your email to verify account</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>
                <!--
                    <li class="cd-faq__item">
                        <a class="cd-faq__trigger" href="#0"><span>Can I remove a post?</span></a>
                        <div class="cd-faq__content">
                            <div class="text-component">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
                            </div>
                        </div> <!-- cd-faq__content
                    </li>

                    <li class="cd-faq__item">
                        <a class="cd-faq__trigger" href="#0"><span>How do reviews work?</span></a>
                        <div class="cd-faq__content">
                            <div class="text-component">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
                            </div>
                        </div> <!-- cd-faq__content
                    </li>-->
            </ul> <!-- cd-faq__group -->
            <!-- cd-faq__group -->

            <ul id="account" class="cd-faq__group">
                <li class="cd-faq__title"><h2>Account</h2></li>
                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I change my password?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>To change your password in MyDentist:</p>
                            <p>         1. In log</p>
                            <p>         2. Click profile</p>
                            <p>         3. Click profile again</p>
                            <p>         4. Change password and Ok</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I delete my account?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>To delete your acccount. you can contact us</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I change my account settings?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>To change your password in MyDentist:</p>
                            <p>         1. In log</p>
                            <p>         2. Click profile</p>
                            <p>         3. Click profile again</p>
                            <p>         4. Change the information your desire and Ok</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>


            </ul> <!-- cd-faq__group -->

            <ul id="payments" class="cd-faq__group">
                <li class="cd-faq__title"><h2>Payments</h2></li>
                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I pay the bill?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>After examination and your status become done, you will recive clinic's account number, and you transfer and upload receipt of transfer </p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>




            </ul> <!-- cd-faq__group -->
            <!-- cd-faq__group -->
            <!-- cd-faq__group -->
        </div> <!-- cd-faq__items -->

        <a href="#0" class="cd-faq__close-panel text-replace">Close</a>

        <div class="cd-faq__overlay" aria-hidden="true"></div>
    </section> <!-- cd-faq -->
    @Html.Partial("Footer")
</body>
@Scripts.Render("~/faq/Content")
@Scripts.Render("~/bundles/bootstrap")
</html>
