﻿@model MyDentist.Models.tbl_Patient

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Patient</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/cssing/css")
    <style>
        input::-webkit-input-placeholder {
            opacity: 0.5;
        }

        input:-moz-placeholder {
            opacity: 0.5;
        }

        input:-ms-input-placeholder {
            opacity: 0.5;
        }

        .input100 {
            font-family: Ubuntu-Bold;
            font-size: 15px;
            color: #1b3815;
            line-height: 1.2;
            position: relative;
            display: block;
            width: 95%;
            height: 55px;
            background: #ebebeb;
            border-radius: 27px;
            padding: 0 35px 0 35px;
        }

        button, input, optgroup, select, textarea {
            margin: 10px;
            font: inherit;
            color: inherit;
        }

        .fontlabel {
            font-family: 'Asap Condensed Bold';
        }

        .center-div {
            width: 300px;
            height: 300px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-top: -150px;
        }

        .spinner {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
        }

        .loader {
            margin: auto;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #15a0ec;
            border-bottom: 16px solid #15a0ec;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        .inner-div {
            background-color: white;
            border-radius: 15px;
            margin: auto;
            padding: 2%;
            width: 150px;
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
        textarea {
            border: groove;
            width: -webkit-fill-available;
            height: 100px;

        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px
        }

        .btn-info {
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da
        }
    </style>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">

            <div class="wrap-login100">
                <div class="flex-col-c p-t-10 p-b-40">
                    <img src="@Url.Content("~/images/MyDentistLogo.png")" class="responsive">
                </div>
                @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                {
                    if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success!</strong>@ViewBag.Message
                            <input type="button" value="Log In Page" class="btn btn-info text-align-center" onclick="location.href = '@Url.Action("Login","UserPatient","Login")'" />
                        </div>
                    }
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="text-danger">
                            <strong>
                                @ViewBag.Message
                            </strong>

                        </div>
                        <span class="fontlabel" style="color:red;font-size:larger;margin-left:10px;"> *</span><span class="fontlabel ">Must Fill</span>
                        <li></li>
                        <span class="fontlabel" style="margin-left: 10px;">Username</span><span class="fontlabel" style="color:red;font-size:larger">*</span>
                        <div class="wrap-input100 validate-input m-b-16">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input100", style ="padding:",placeholder = "Username" } })
                        </div>
                        <li> @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })</li>

                        <span class="fontlabel" style="margin-left: 10px;">Password</span><span class="fontlabel" style="color:red;font-size:larger">*</span>
                        <div class="wrap-input100 validate-input m-b-16">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input100", placeholder = "Password" } })
                        </div>
                        <li> @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</li>

                        <span class="fontlabel" style="margin-left: 10px;">Confirm Password</span><span class="fontlabel" style="color:red;font-size:larger">*</span>
                        <div class="wrap-input100 validate-input m-b-16">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input100", placeholder = "Confirm Password" } })
                        </div>
                        <li> @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</li>

                        <span class="fontlabel" style="margin-left: 10px;">Full Name</span><span class="fontlabel" style="color:red;font-size:larger">*</span>
                        <div class="wrap-input100 validate-input m-b-16">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input100", placeholder = "Full Name" } })
                        </div>
                        <li> @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</li>

                        <span class="fontlabel" style="margin-left: 10px;">Birth date</span><span class="fontlabel" style="color:red;font-size:larger">*</span>
                        <div class="wrap-input100 validate-input m-b-16">
                            <input id="datefield" type='date' min='1899-01-01' max='2000-13-13' name="Birth_date" class="input100" value="@Html.DisplayFor(model => model.Birth_date)" />
                        </div>
                        <li> @Html.ValidationMessageFor(model => model.Birth_date, "", new { @class = "text-danger" })</li>

                        <span class="fontlabel" style="margin-left: 10px;">Email</span><span class="fontlabel" style="color:red;font-size:larger">*</span>
                        <div class="wrap-input100 validate-input m-b-16">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input100", placeholder = "Email" } })
                        </div>
                        <li> @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</li>
                        <li> @Html.ValidationMessage("Email exist", new { @class = "text-danger" })</li>

                        <span class="fontlabel" style="margin-left: 10px;">Phone</span><span class="fontlabel" style="color:red;font-size:larger">*</span>
                        <div class="wrap-input100 validate-input m-b-16">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "input100", placeholder = "Phone" } })
                        </div>
                        <li> @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })</li>

                        <span class="fontlabel" style="margin-left: 10px;">Address</span><span class="fontlabel" style="color:red;font-size:larger">*</span>
                        <div class="textarea   m-b-16">
                            @Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "textarea m-t-5", placeholder = "Address" } })
                        </div>
                        <li> @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })</li>




                        <div class="form-group">
                            <div class="text-center">
                                <input type="submit" id="btnSubmit" value="Register" class="btn btn-success" />
                                <input type="button" id="btnSubmit" value="Cancel" class="btn btn-warning" onclick="location.href = '@Url.Action("Login","UserPatient","Login")'" />
                                <div class="spinner" style="display:none">
                                    <div class="center-div">
                                        <div class="inner-div">
                                            <div class="loader"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    }
                }

            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/Content")
    @Scripts.Render("~/bundles/Scripts")
    @Scripts.Render("~/bundles/jquery")
    @section Scripts{
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script>
            $('#btnSubmit').click(function () {
                $('.spinner').css('display', 'block');
            });

            
        </script>
    }
    <script>var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("datefield").setAttribute("max", today);</script>
</body>
</html>