﻿@model MyDentist.Models.tbl_Reservation

<div style="background-color:aliceblue">
    <h4 class="text-center">Reservation Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reservation_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation_status)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.Clinic_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic_Name)
        </dd>



        @if (Model.Price != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        }

       
        @if (Model.Reservation_status == "Waiting")
        {
            
        }
        else
        {
            if (Model.note != null || Model.note != "")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.note)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.note)
                </dd>
            }
        }


    </dl>
</div>
<span class="fa fa-clock-o" style="color:forestgreen; font-size:xx-large; margin-right:50px"> Queue number: @Html.DisplayFor(model => model.Queue_number)</span>
@if (Model.Reservation_status == "Waiting")
{
<span class="fa fa-clock-o" style="color:red; font-size:xx-large"> Current Queue Number : @ViewBag.CurrentQueue</span>
    }
    <p style="margin-top:50px">
        <button class="btn btn-warning">@Html.ActionLink("Back", "MyReservations")</button>
    </p>
