﻿
@{
    ViewBag.Title = "VerifyAccount";
}
<style>
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px
    }

    .btn-info {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da
    }
</style>
<h2>VerifyAccount</h2>

@if(ViewBag.Status!=null&&Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success</strong>Your account has been activated succesfully. Click Here to @Html.ActionLink("Login", "Login", "UserPatient", new {@class = "btn btn-info" })
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@ViewBag.Message
    </div>
}