﻿@{
    Layout = null;
}
@model MyDentist.Models.tbl_Article
<!DOCTYPE html>
<html lang="en">
<head>

    <title>MyDentist - Article Page</title>
    @Styles.Render("~/cssing/css")

</head>

@Html.Partial("Navigation")
<div>
    <h4>tbl_Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            <img src="@Url.Action("RetrieveImage", new { id = Model.ID_Article})" alt="" height=100 width=200 />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tittle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tittle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd style="width: 500px;">

            @Html.Raw(Model.Content)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Writer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Writer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Article }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Html.Partial("Footer")
</html>
<!-- SCRIPTS -->
@Scripts.Render("~/bundles/Content")
@Scripts.Render("~/bundles/bootstrap")
