﻿
<!DOCTYPE html>
<html lang="en">
<head>


    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/cssing/css")

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- NEWS DETAIL -->
    <section id="news-detail" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-7">
                    <!-- Log In -->
                    @{
                        ViewBag.Title = "Forgot Password";
                    }

                    <h2>Forgot Password</h2>

                    @using (Html.BeginForm())
                    {
                        <div class="form-horizontal">
                            <hr />
                            <div class="text-danger">
                                @ViewBag.Message
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Email </label>
                                @Html.TextBox("Email", "", new { @class = "form--control" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-push-10">
                                    <input type="submit" value="Submit" class="btn btn-success" />
                                    <input type="button" value="Cancel" class="appointment-btn" onclick="location.href = '@Url.Action("Login","UserPatient","Login")'" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
 
    <!-- SCRIPTS -->
    @Scripts.Render("~/bundles/Content")

</body>
</html>