﻿@model IEnumerable<MyDentist.Models.ArticleViewModel>
@{
    ViewBag.Title = "Article";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New Page Content", "Create", null, new { @class = "btn btn-primary" })
</p>

<br />
<table class="table" style="width: 1200px;">
    <tr>
        <th>
            <b>Cover</b>
        </th>
        <th>
            <b>Release Date</b>
        </th>
        <th>
            <b>Title</b>
        </th>
        <th>
            <b>Writer Name</b>
        </th>
        <th>
            <b>Description</b>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Action("RetrieveImage", new { id = item.ID_Article })" alt="" height=100 width=200 />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release_date)
            </td>
            <td>
                @Html.ActionLink(item.Tittle, "Details", "Article", new { id = item.ID_Article }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Writer_name)
            </td>
            <td style="width: 500px;">
                @Html.Raw(item.Content)
            </td>
            <td>
                <button class="btn-info"><li class="fa fa-eye">@Html.ActionLink("Read", "Details", "Article", new { id = item.ID_Article, @lass = "fa fa-eye" }, null)</li></button>

            </td>
        </tr>
    }
</table>